.collection {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;

  &__app {
    display: flex;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }

  &__title {
    margin: 0;
  }

  &__button {
    background: transparent;
    border: 0;

    transition: all 300ms linear;

    &:hover {
      opacity: .7;

      cursor: pointer;
    }
  }
}