.collection {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;

  &__app {
    display: flex;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }

  &__title {
    margin: 0;
  }
}